################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SlkApi/bin/Debug/net8.0
/SlkApi/obj
/SlkApiUnitTestCases/bin/Debug/net8.0
/SlkApiUnitTestCases/obj
/SlkBLL/bin/Debug/net8.0
/SlkBLL/obj
/SlkBllUnitTestCases/obj
/SlkBllUnitTestCases/bin/Debug/net8.0
/SlkDAL/bin/Debug/net8.0
/SlkDAL/obj
/SlkDalUnitTestCases/bin/Debug/net8.0
/SlkDalUnitTestCases/obj
/SlkModel/bin/Debug/net8.0
/SlkModel/obj
/.vs/SlkSolution/FileContentIndex
/.vs/SlkSolution/CopilotIndices/17.13.444.19527
